$blue: #2F80ED;
$orange: #ED9F9F;
$light-orange: #FFBCBC;

* {
    font-family: montserrat;
}


@font-face {
    font-family: montserrat;
    src: url('../theme/Montserrat/Montserrat-Regular.ttf');
}

